@media only screen and (max-width: 1400px) {
  * {
    margin: 0;
    padding: 0;
  }
  .site-main {
    width: 100vw;
    height: 70vh;
  }
  /* .icon,
  .mail-icon {
    display: none;
  } */
  .typography {
    margin: 0;
    padding: 0;
    width: 99%;
    /* border: blue 1px solid; */
  }
  .typography > img {
    width: 100%;
    height: 500px;
  }
  .about-text {
    float: right;
    margin: 1.2rem 6rem;
    /* font-size: 30px; */
    /* border: blue 1px solid; */
    width: 75%;
    text-align: center;
  }
  /* ----work area ------ */
  .img-area {
    width: 75%;
  }
  .red-box {
    width: 200px;
    height: 200px;
    line-height: 200px;
    top: 120px;
    left: 75px;
    /* font-size: 1.6rem; */
  }
  .post-img {
    left: 44.2vw;
  }
  .form-popup {
    right: 24vw;
  }
}
@media screen and (max-width: 959px) {
  .site-main {
    height: 80vh;
  }
  .contact {
    height: 70vh;
  }
  .vertical {
    padding: 2.3rem;
    margin: 0 0 10rem 4.2rem;
  }
  .about-text {
    margin: 0.3rem 4.2rem 0.3rem 1rem;
    /* font-size: 23px; */
    width: 75%;
    text-align: center;
  }
  .thanks-text {
    /* font-size: 36px; */
  }
  .form-popup {
    right: 14vw;
  }
}
@media screen and (max-width: 559px) {
  #home-area {
    height: 69vh;
  }
  .typography {
    width: 99%;
    height: 30%;
  }
  .typography > img {
    width: 100%;
    height: 500px;
  }
  .site-main {
    width: 100vw;
    height: 80vh;
  }
  .work {
    height: 15vh;
  }
  .mail-icon {
    top: 3px;
    right: 3px;
  }
  .arrow {
    bottom: 3px;
    left: 3px;
  }
  .small-work {
    height: 40vh;
  }
  .vertical {
    text-align: center;
    padding: 0 2rem;
    margin: 0 0 0 1rem;
    border: 2px #ff0000 solid;
    line-height: 10px;
    width: 4px;
    height: 200px;
    /* font-size: 15px; */
  }
  .about-text {
    margin: 0.3rem 4.2rem 0.3rem 1rem;
    /* font-size: 20px; */
    width: 75%;
    text-align: center;
  }
  .img-area {
    width: 75%;
    height: 100%;
  }
  .red-box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    top: 80px;
    left: 10px;
    /* font-size: 10px; */
  }
  .thanks-text {
    top: 15px;
    /* font-size: 17px; */
  }
  .post-img {
    left: 43vw;
    width: 120px;
    height: 120px;
  }
  .post-img > img {
    object-fit: cover;
    width: 100%;
  }
  .form-popup {
    bottom: 0;
    right: 0;
  }
  .form-container {
    width: 100vw;
  }
  .contact {
    height: 30vh;
  }
}
@media screen and (max-width: 321px) {
  #home-area {
    height: 95vh;
  }
  .work {
    height: 50vh;
  }
  .typography {
    width: 99%;
    height: 20%;
  }
  .typography svg {
    top: 5px;
    right: 5px;
  }
  .content {
    margin-top: 10px;
  }
  .about-text {
    /* font-size: 17px; */
    width: 75%;
    text-align: center;
  }
  .contact {
    height: 48vh;
  }
  .thanks-text {
    top: 0;
  }
  .form-popup {
    right: 1vw;
  }
  .form-container {
    max-width: 400px;
  }
}
