@import url("https://fonts.googleapis.com/css?family=Allan|Amita&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uppercase {
  text-transform: uppercase;
}

.site-main {
  height: 100vh;
  padding: 0;
  margin: 0;
  background: whitesmoke;
}

/* mail icon  */
.icon {
  color: black;
}
.icon:hover {
  cursor: pointer;
  color: #ff0000;
}
.mail-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  /* border: red 1px solid; */
}

/* --------home area  */
.home {
  background: whitesmoke;
}

.typography {
  width: 60%;
  /* border: blue 1px solid; */
  object-fit: cover;
}

.content {
  display: flex;
}
.vertical {
  float: left;
  border-left: 5px #ff0000 solid;
  padding: 4rem;
  margin: 0 0 3rem 10rem;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  writing-mode: tb-rl;
  white-space: nowrap;
  width: 20px;
  font-size: 30px;
}
.vertical > a {
  text-decoration: none;
  color: black;
  transition: color 0.9s ease;
}
.vertical > a:hover {
  color: red;
}

.about-text {
  font-family: "Allan", cursive;
  /* border: red 1px solid; */
  text-align: center;
  margin: 5rem 27rem 0 auto;
  float: right;
  width: 40%;
  height: 40%;
  font-size: 20px;
  line-height: 2;
}

/* end--------home area  */

/* workarea */

.work {
  position: relative;
  /* border: 1px solid red; */
}
.img-area {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 55%;
}
.img-area > img {
  width: 100%;
  object-fit: cover;
  box-shadow: 4px 8px rgba(22, 22, 22, 0.137);
}

.red-box {
  font-family: "Amita", cursive;
  width: 220px;
  height: 220px;
  background: red;
  text-align: center;
  line-height: 220px;
  color: white;
  z-index: 50;
  position: absolute;
  bottom: 20px;
  left: 300px;
  box-shadow: 4px 8px rgba(22, 22, 22, 0.137);
}

/* end--workarea */
/* constactarea */
.contact {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.452) 0%,
    #f5f5f5 70%
  );
  position: relative;
}

.thanks-text {
  font-family: "Allan", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.post-img {
  /* border: red 1px solid; */
  width: 220px;
  height: 220px;
  position: absolute;
  bottom: 20px;
  left: 47.5vw;
}
.post-img > img {
  filter: brightness(0.8);
}
.post-img > img:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
.arrow {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* end--constactarea */

/* -----pop up ---------- */
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 28vh;
  right: 35vw;
  border: 3px solid #ffffff;
  z-index: 70;
}

/* Add styles to the form container */
.form-container {
  max-width: 550px;
  padding: 10px;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #f0f8ff,
    #f0f8ff 3px,
    #e9f4ff 3px,
    #e9f4ff 7px
  );
  background: repeating-linear-gradient(
    -45deg,
    #f0f8ff,
    #f0f8ff 3px,
    #e9f4ff 3px,
    #e9f4ff 7px
  );
  border: 7px dotted #e94c4c;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container textarea[name="comment"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #f0f8ff,
    #f0f8ff 3px,
    #e9f4ff 3px,
    #e9f4ff 7px
  );
  background: repeating-linear-gradient(
    -45deg,
    #f0f8ff,
    #f0f8ff 3px,
    #e9f4ff 3px,
    #e9f4ff 7px
  );
  outline: none;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container textarea[name="comment"]:focus {
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #dce3e9,
    #dce3e9 3px,
    #d5dfe9 3px,
    #d5dfe9 7px
  );
  background: repeating-linear-gradient(
    -45deg,
    #dce3e9,
    #dce3e9 3px,
    #d5dfe9 3px,
    #d5dfe9 7px
  );
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.font-allan {
  font-family: "Allan", cursive;
}
.contact-user {
  font-size: 20px;
}
/* -----end pop up ---------- */

@media only screen and (max-width: 1400px) {
  * {
    margin: 0;
    padding: 0;
  }
  .site-main {
    width: 100vw;
    height: 70vh;
  }
  /* .icon,
  .mail-icon {
    display: none;
  } */
  .typography {
    margin: 0;
    padding: 0;
    width: 100%;
    /* border: blue 1px solid; */
  }
  .typography > img {
    width: 100%;
  }
  .about-text {
    float: right;
    margin: 1.2rem 6rem;
    font-size: 30px;
    /* border: blue 1px solid; */
    width: 75%;
    text-align: center;
  }
  /* ----work area ------ */
  .img-area {
    width: 75%;
  }
  .red-box {
    width: 200px;
    height: 200px;
    line-height: 200px;
    top: 120px;
    left: 75px;
  }
  .post-img {
    left: 44.2vw;
  }
  .form-popup {
    right: 24vw;
  }
}
@media screen and (max-width: 959px) {
  .vertical {
    padding: 3rem;
    margin: 0 0 2rem 4.2rem;
  }
  .about-text {
    margin: 0.3rem 4.2rem 0.3rem 1rem;
    font-size: 23px;
    width: 75%;
    text-align: center;
  }
  .thanks-text {
    font-size: 36px;
  }
  .form-popup {
    right: 14vw;
  }
}
@media screen and (max-width: 559px) {
  .site-main {
    width: 100vw;
    height: 80vh;
  }
  .mail-icon {
    top: 3px;
    right: 3px;
  }
  .arrow {
    bottom: 3px;
    left: 3px;
  }
  .small-work {
    height: 40vh;
  }
  .vertical {
    text-align: center;
    padding: 0 2rem;
    margin: 0 0 0 1rem;
    border: 2px #ff0000 solid;
    line-height: 10px;
    width: 4px;
    height: 200px;
    font-size: 15px;
  }
  .about-text {
    margin: 0.3rem 4.2rem 0.3rem 1rem;
    font-size: 20px;
    width: 75%;
    text-align: center;
  }
  .img-area {
    width: 75%;
    height: 100%;
  }
  .red-box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    top: 80px;
    left: 10px;
    font-size: 10px;
  }
  .thanks-text {
    font-size: 15px;
  }
  .post-img {
    left: 43vw;
    width: 120px;
    height: 120px;
  }
  .post-img > img {
    object-fit: cover;
    width: 100%;
  }
  .form-popup {
    right: 1vw;
  }
  .form-container {
    max-width: 400px;
  }
}
@media screen and (max-width: 321px) {
  .form-popup {
    right: 1vw;
  }
  .form-container {
    max-width: 400px;
  }
}
